<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron jumbotron-fluid" style="background: #aaa;">
        <h1>SQL Injection Simulation</h1>
        <h3>Our main goal is to present to you the server
            response and the SQL injection vulnerability.</h3>
        <br>
        <p>
            SQL injection can be present in any front-end application
            accepting data entry from a system or user, which is then used to
            access a database server.<br>
            In a Web environment, the Web browser is a client acting as a
            front-end requesting data from the user and sending them to the
            remote server which will
            create SQL queries using the submitted data.<br>
            <br>
        <h5>"Credit: SQL Injection Attacks and Defense - Second
            Edition"</h5>
        </p>
    </div>


    <!--Table-->
    <% if (Array.isArray(results) && results.length > 0){ %>
        <div class="container">
            <table class="table">

                <!--table titles-->
                <thead class="thead-primary">

                <tr class="text-center">
                    <th>Email</th>
                    <th>password</th>
                </tr>
                </thead>

                <!--/Table Row-->
                <% for(const row of results) { %>
                    <tr>
                        <td class="Email">
                            <h3><%= row.email %></h3>
                        </td>
                        <td class="password">
                            <h3><%= row.pass %></h3>
                        </td>
                    </tr>
                <% } %>

            </table>
        </div>
    <% } %>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>